<div class="row">  
    <div class="col-md-12">  
        <h3>Employee List</h3>  
        <br />  
         
    </div>  
    <div class="col-md-12">  
          
        <div class="form-actions no-color">  
                  
            <div>  
                <span style="font-weight:bold;font-size:20px">Search:</span>  
                <input type="text" name="searchdata"  #search (keyup)="0"/>  
                     
                      
            </div>  
        </div>  
        <br />  
    </div>  
</div>  
<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Serial
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Divsion
                </th>
                <th>
                    Assignment
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let e of EmployeeList | searchFilter:search.value;  trackBy: officerID">
                <td>
                    {{e.serial}}
                </td>
                <td>
                    {{e.lastName}}
                </td>
                <td>
                    {{e.firstName}}
                </td>
                <td>
                    {{e.division}}
                </td>
                <td>
                    {{e.assignment}}
                </td>
                <td>
                    <a [routerLink]="['/officer/details/',e.officerID]"
                       class="btn btn-primary">
                        Detail
                    </a>
                    <a [routerLink]="['/officer/edit/',e.officerID]"
                       class="btn btn-success">
                        Edit
                    </a>
                    <a [routerLink]="['/officer/delete/',e.officerID]"
                       class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        </table>
        <div class="form-group">
        <a [routerLink]="['/officer/create/']"
           class="btn btn-info">
            Add New
        </a>
        </div>
    </div>
</div>    